<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Yaio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <Yaio.Properties.Settings>
            <setting name="FromFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ToFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FileExtensions" serializeAs="String">
                <value>.jpg,.mpg,.tiff,.jpeg</value>
            </setting>
            <setting name="CreateYearDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateMonthDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Recursive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrefixHtml" serializeAs="String">
                <value>&lt;style&gt;
img {
max-width:200px;
max-height:200px;
width: auto;      
height: auto;     
}
&lt;/style&gt;

&lt;script&gt;
function myFunction() {
    var x = document.getElementById("mySelect").value;
	//alert(x);
		var img = document.getElementsByTagName('img');
        for(var i=0;i&lt;img.length;i++) {
           img[i].style.maxWidth = x + 'px';
           img[i].style.maxHeight = x + 'px'; 
	}
}
&lt;/script&gt;

&lt;select id="mySelect" onchange="myFunction()"&gt;
  &lt;option value="500"&gt;500
  &lt;option value="400"&gt;400
  &lt;option value="300"&gt;300
  &lt;option value="200"&gt;200
&lt;/select&gt;</value>
            </setting>
            <setting name="DeleteDuplicateFilesFromProcessFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchForDuplicatesRecursivelyInYearFolder" serializeAs="String">
                <value>True</value>
            </setting>
        </Yaio.Properties.Settings>
    </userSettings>
</configuration>
